.main {
    height: 100vh;
    height: 100svh;
}

.wrapper {
    @include wrapper;
    padding-left: 100px;
    padding-right: 100px;
    height: 100%;
    flex-direction: column;
    @include center-content;
}