.wrapper {
    height: 100%;
    width: 100%;
}

.title {
    @include play-normal;
    text-align: center;
    margin: 16px auto 28px auto;
    @include adaptive-font(32px);
    transform: translateX(-50%);
    filter: blur(10px);
    opacity: 0;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.item {
    transform: translateX(-50%);
    filter: blur(10px);
    opacity: 0;
}

.show {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
    transition:
        transform 0.8s ease,
        filter 0.8s ease,
        opacity 0.8s ease;
}

@media (max-width: 951.98px) {
    .title {
        @include adaptive-font(24px);
    }
    .items {
        gap: 20px;
    }
}

@media (max-width: 767.98px) {
    .title {
        margin: 10px auto 22px auto;
    }
    .items {
        gap: 28px;
    }
}
