.container {
    z-index: 900;
    position: fixed;
    height: 100%;
    @include center-content;
    top: 0;
    right: 0;
}

.touchBox {
    z-index: 950;
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
}

.navbar {
    &_container {
        z-index: 975;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(20px);
        width: calc(96px + 0.390625vw);
        @include center-content;
        border-left: 3px solid $light;
        translate: 100% 0 0;
        transition:
            translate 0.4s ease,
            backdrop-filter 0.4s ease;
        &_active {
            translate: 0 0 0;
        }
    }
    &_panel {
        z-index: 975;
    }
    &_button {
        position: absolute;
        z-index: 999;
        @include adaptive-icon(20px);
        top: 50%;
        right: calc($frame-margin-hor / 2);
        translate: 50% -50% 0;
        transition:
            translate 0.4s ease,
            scale 0.4s ease,
            right 0.4s ease;
        &:hover {
            scale: 1.2;
        }
        &:active {
            scale: 1.1;
        }
        &_active {
            right: 100%;
            translate: 100% -50% 0;
            rotate: 180deg 0 0;
        }
    }
}
