.container {
    z-index: 100;
    position: fixed;
    height: 100%;
    @include center-content;
    width: calc(96px + 0.390625vw);
    backdrop-filter: blur(20px) brightness(0.8);
    border-left: 3px solid $light;
    translate: calc(100% + 3px) 0 0;
    top: 0;
    right: 0;
    transition:
        translate 0.4s ease,
        backdrop-filter 0.4s ease,
        box-shadow 0.4s ease;
    &_active {
        translate: 0 0 0;
        box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.3);
    }
}

.touchBox {
    z-index: 9900;
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    right: 100%;
}

.navbar {
    &_container {
        height: 100%;
        @include center-content;
    }
    &_panel {
        z-index: 975;
    }
    &_button {
        position: absolute;
        z-index: 9999;
        @include adaptive-icon(16px);
        top: 50%;
        right: calc($frame-margin-hor / 2 + 100%);
        translate: 25% -50% 0;
        transition:
            translate 0.4s ease,
            scale 0.4s ease,
            right 0.4s ease;
        &:hover {
            scale: 1.2;
        }
        &:active {
            scale: 1.1;
        }
        &_active {
            right: 100%;
            translate: 100% -50% 0;
            rotate: 180deg 0 0;
        }
    }
}
