.projects {
    height: 100vh;
    height: 100svh;
    width: 100vw;
    padding: 0 20px;
}

.wrapper {
    max-width: $max-width;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 40px 0 0 0;
    height: 100%;
}
