.about {
    height: 100vh;
    height: 100svh;
    @include center-content;
}

.wrapper {
    @include wrapper;
    padding: calc($frame-margin + 20px) calc(5vw + 50px) calc($frame-margin + 20px) calc(5vw + 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.title {
    @include play-normal;
    text-align: center;
    margin: 10px auto;
    @include adaptive-font(32px);
    translate: -200% 0 0;
    filter: blur(20px);
    opacity: 0;
}

.info {
    @include rubik-normal;
    @include adaptive-font(12px);
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    &_item {
        flex: 1 1 auto;
        translate: -100% 0 0;
        filter: blur(20px);
        opacity: 0;
        &:nth-of-type(1) {
            flex: 1 1 40%;
        }
        &:nth-of-type(2) {
            transition-delay: 0.3s;
        }
        &:nth-of-type(3) {
            transition-delay: 0.5s;
        }
        &:nth-of-type(even) {
            & .info_item_title {
                color: $darkest;
            }
        }
        &_title {
            @include rubik-bold;
            @include adaptive-font(14px);
            color: $dark;
        }
        &_list {
            padding-left: max(20px, 10%);
            padding-right: 8px;
            & li {
                list-style: circle;
                @include adaptive-font(10px);
            }
        }
    }
}

.divider {
    height: 3px;
    width: 100%;
    background-color: $light;
}

.descr {
    @include rubik-normal;
    @include adaptive-font(12px);
    text-align: justify;
    text-indent: 40px;
    &_paragraph {
        translate: -100% 0 0;
        filter: blur(20px);
        opacity: 0;
    }
    & p:first-of-type {
        margin-bottom: 24px;
    }
    & p:last-of-type {
        transition-delay: 0.3s;
    }
}

.contact {
    @include play-normal;
    text-align: center;
    margin: 10px auto 0 auto;
    @include adaptive-font(24px);
    translate: -100% 0 0;
    filter: blur(20px);
    opacity: 0;
    transition-delay: 0.5s;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    align-self: center;
    translate: -100% 0 0;
    filter: blur(20px);
    opacity: 0;

    &_icons {
        display: flex;
        gap: 24px;
    }
    &_mail {
        @include rubik-bold;
        @include adaptive-font(16px);
        color: $darkest;
    }
    &_link {
        transition: scale 0.2s ease;
        & svg {
            @include adaptive-icon(36px);
            fill: $lightest;
        }
        &:hover {
            scale: 1.1;
            transition: scale 0.4s ease;
        }
        &:active {
            scale: 1.05;
        }
    }
    transition-delay: 0.7s;
}

.show {
    translate: 0 0 0;
    filter: blur(0);
    opacity: 1;
    transition:
        translate 0.6s ease,
        filter 0.6s ease,
        opacity 0.6s ease;
}

@media (max-width: 1368.98px) {
    .wrapper {
        padding: calc($frame-margin + 20px) calc(5vw + 10px) calc($frame-margin + 20px) calc(5vw + 10px);
    }
}

@media (max-width: 1129.98px) {
    .wrapper {
        gap: 12px;
    }
    .links {
        gap: 12px;
    }

    .descr {
        & p:first-of-type {
            margin-bottom: 12px;
        }
    }
}

@media (max-width: 1024.98px) {
    .title {
        @include adaptive-font(32px);
    }

    .contact {
        @include adaptive-font(24px);
    }

    .links {
        &_link {
            & svg {
                @include adaptive-icon(28px);
            }
        }
        &_mail {
            @include adaptive-font(14px);
        }
    }
}

@media (max-width: 768.98px) {
    .title {
        @include adaptive-font(28px);
    }

    .contact {
        @include adaptive-font(20px);
    }

    .info {
        &_item {
            &_title {
                @include adaptive-font(12px);
            }
            &:nth-of-type(1) {
                & .info_item_title {
                    @include adaptive-font(10px);
                }
            }
        }
    }
}

@media (max-width: 666.98px) {
    .wrapper {
        padding: calc(3.75vh + 20px) calc(5vw + 10px) calc(3.75vh + 20px) calc(5vw + 10px);
    }
    .info {
        gap: 12px;
        &_item {
            &_title {
                @include adaptive-font(14px);
            }
            &:nth-of-type(1) {
                flex: 1 1 100%;
                & .info_item_title {
                    @include adaptive-font(14px);
                }
            }
        }
    }

    .about {
        min-height: 100vh;
        height: fit-content;
    }
}

@media (max-width: 425.98px) {
    .title {
        @include adaptive-font(24px);
    }

    .contact {
        @include adaptive-font(16px);
    }
    .descr {
        text-align: justify;
        text-indent: 20px;
    }
}

@media (max-width: 375.98px) {
    .title {
        @include adaptive-font(20px);
    }

    .contact {
        @include adaptive-font(16px);
    }
    .descr {
        @include adaptive-font(10px);
    }

    .links {
        &_icons {
            gap: 16px;
        }
        &_link {
            & svg {
                @include adaptive-icon(24px);
            }
        }
        &_mail {
            @include adaptive-font(14px);
        }
    }
}

@media (max-width: 321.98px) {
    .info {
        &_item {
            &:nth-of-type(1) {
                & .info_item_title {
                    @include adaptive-font(12px);
                }
            }
        }
    }
}
