.main {
    height: 100vh;
    height: 100svh;
}

.wrapper {
    @include wrapper;
    padding: calc($frame-margin + 20px) calc(5vw + 30px) calc($frame-margin + 20px) calc(5vw + 100px);
    height: auto;
    display: flex;
    flex-direction: column;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mainProjects {
    margin-bottom: 24px;
}

@media (max-width: 951.98px) {
    .wrapper {
        padding: calc($frame-margin + 20px) calc(5vw + 30px) calc($frame-margin + 20px) calc(5vw + 30px);
    }
}

@media (max-width: 767.98px) {
    .mainProjects {
        margin-top: 12px;
        margin-bottom: 20px;
    }
}
