//reset
* {
    padding: 0;
    margin: 0;
    border: 0;
    color: $lightest;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

a,
button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    user-drag: none;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

//noise and blobs
body {
    display: flex;
    flex-direction: column;
    background-color: $bg;
    overflow-x: hidden;
    height: 100vh;
    height: 100svh;
    position: relative;
    &::before,
    &::after {
        position: fixed;
        left: 0;
        top: 0;
        content: "";
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 15%;
    }
    &::before {
        background: #1b1b1b;
        filter: url(#noiseFilter);
    }
}

.blobContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    filter: blur(60px);
    @media (min-width: 1600.98px) {
        filter: blur(160px);
    }
    @media (max-width: 768.98px) {
        filter: none;
    }
}

.one {
    transform: translate3d(-20vw, -50vh, 0);
    @media (max-aspect-ratio: 0.9999) {
        transform: translate3d(-5vw, -50vh, 0);
    }
}

.many {
    transform: translate3d(50vw, 0, 0);
    @media (max-aspect-ratio: 0.9999) {
        transform: rotateZ(90deg) translate3d(50vw, 0, 0);
    }
}

.blob {
    position: absolute;
    z-index: -2;
    border-radius: 9999px;
    filter: blur(140px);
    @media (max-width: 768.98px) {
        filter: blur(120px);
    }
    @media (min-width: 1600.98px) {
        filter: blur(200px);
    }
}

.magenta {
    aspect-ratio: 1 / 1;
    width: 30vw;
    background-color: $magenta;
    left: 0;
    animation: magenta 12s infinite ease;
}

.pink {
    background-color: $pink;
    height: 50vh;
    left: 30vw;
    width: 10vw;
    animation: pink 12s infinite ease;
    filter: blur(120px);
    @media (max-width: 768.98px) {
        filter: blur(100px);
    }
    @media (min-width: 1600.98px) {
        filter: blur(180px);
    }
}

.lilac {
    background-color: $lilac;
    height: 30vh;
    left: 15vw;
    top: 5vh;
    width: 15vw;
    animation: lilac 12s infinite ease;
}

.gold {
    aspect-ratio: 1 / 1;
    background-color: $gold;
    opacity: 0.4;
    width: 60vw;
    animation: gold 12s infinite ease;
}

@keyframes magenta {
    0% {
        transform: scale(1) translate3d(0, 0, 0);
    }
    25% {
        transform: scale(1.2) translate3d(5vw, 20vh, 0);
    }
    50% {
        transform: scale(0.9) translate3d(-10vw, 15vh, 0);
    }
    75% {
        transform: scale(1.1) translate3d(0, 20vh, 0);
    }
    100% {
        transform: scale(1) translate3d(0, 0, 0);
    }
}

@keyframes pink {
    0% {
        transform: scale(1.2) translate3d(0, 0, 0);
    }
    25% {
        transform: scale(1) translate3d(5vw, 10vh, 0);
    }

    50% {
        transform: scale(0.9) translate3d(-7.5vw, 20vh, 0);
    }
    75% {
        transform: scale(1.1) translate3d(-10vw, 10vh, 0);
    }
    100% {
        transform: scale(1.2) translate3d(0, 0, 0);
    }
}

@keyframes lilac {
    0% {
        transform: scale(0.8) translate3d(0, 0, 0);
    }
    30% {
        transform: scale(1) translate3d(2.5vw, 10vh, 0);
    }
    60% {
        transform: scale(1.1) translate3d(-5vw, 15vh, 0);
    }
    100% {
        transform: scale(0.8) translate3d(0, 0, 0);
    }
}
@keyframes gold {
    0% {
        transform: scale(1.2) translate3d(5vw, 20vh, 0);
    }
    30% {
        transform: scale(1) translate3d(0, 0, 0);
    }
    60% {
        transform: scale(0.9) translate3d(0, 20vh, 0);
    }
    100% {
        transform: scale(1.2) translate3d(5vw, 20vh, 0);
    }
}

//layout
.wrapper {
    min-height: 100%;
    width: 100vw;
    flex: 1 0 auto;
}

.frame {
    z-index: -1;
    align-self: center;
    position: fixed;
    padding: 0 20px;
    width: 85vw;
    height: 100vh;
}

.border {
    position: absolute;
    aspect-ratio: 1 / 1;
    width: 5vw;
    $border: 3px solid $light;
    @media (max-aspect-ratio: 0.999) {
        aspect-ratio: 1 / 2;
    }
    &_left {
        left: 0;
        border-left: $border;
    }
    &_right {
        right: 0;
        border-right: $border;
    }
    &_up {
        top: 7.5vh;
        border-top: $border;
    }

    &_down {
        bottom: 7.5vh;
        border-bottom: $border;
    }
}

.hl_darkest {
    color: $darkest;
}

.hl_dark {
    color: $dark;
}

