.wrapper {
    @include center-content;
}

.img {
    &_container {
        position: relative;
        aspect-ratio: 16 / 9;
        height: 225px;
    }
    &_image {
        z-index: 100;
        object-fit: cover;
    }
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 8px 0;
}

.title {
    @include adaptive-font(20px);
    @include play-normal;
    cursor: pointer;
    transition: transform 0.2s ease;
    transform-origin: 0;
    width: fit-content;
    &:hover {
        scale: 1.1;
        transition: scale 0.4s ease;
    }
    &:active {
        scale: 1.05;
    }
    transform: translateX(-150%);
    opacity: 0;
    filter: blur(10px);
    transition:
        opacity 1s ease,
        filter 1s ease,
        transform 1s ease,
        scale 0.2s ease;
}

.descr {
    @include rubik-normal;
    @include adaptive-font(16px);
    transform: translateX(-150%);
    opacity: 0;
    filter: blur(10px);
    transition:
        opacity 1.2s ease,
        filter 1.2s ease,
        transform 1.2s ease;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 36px;
}

.divider {
    height: 3px;
    width: 100%;
    background-color: $light;
    transform: translateX(-150%);
    opacity: 0;
    filter: blur(10px);
    transition:
        opacity 1.2s ease,
        filter 1.2s ease,
        transform 1.2s ease;
}

.show {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0px);
}

@media (max-width: 1134.98px) {
    .title {
        @include adaptive-font(16px);
    }

    .descr {
        @include adaptive-font(12px);
    }
    .img {
        &_container {
            height: 150px;
        }
    }
}

@media (max-width: 951.98px) {
    .container {
        gap: 20px;
    }
    .info {
        gap: 12px;
    }
}

@media (max-width: 767.98px) {
    .container {
        flex-direction: column;
        gap: 12px;
    }
    .img {
        &_container {
            height: auto;
        }
    }
}

@media (max-width: 499.98px) {
    .title {
        @include adaptive-font(14px);
    }
}
