.welcome {
    height: 100vh;
    height: 100svh;
}

.wrapper {
    @include wrapper;
    display: flex;
    justify-content: space-evenly;
}

.img {
    &_container {
        position: relative;
        height: 300px;
        width: 300px;
    }
    &_image {
        object-fit: cover;
    }
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
}

.title {
    display: flex;
    align-items: center;
    gap: 24px;
    @include play-bold;
    &_description {
        @include play-normal;
        flex: 1 0 auto;
        @include adaptive-font(24px);
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &_stack {
        @include adaptive-font(20px);
    }
    &_divider {
        align-self: center;
        height: 3px;
        width: 100%;
        background-color: $light;
    }
    &_me {
        @include adaptive-font(36px);
    }
}

.navigation {
    position: relative;
    @include play-normal;
    &_list {
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 28px;
        & li {
            @include adaptive-font(24px);
            cursor: pointer;
            transition: all 0.2s ease;
            & span {
                display: flex;
                align-items: center;
                gap: 12px;
                white-space: nowrap;
            }
            & svg {
                fill: $lightest;
                transition: all 0.2s ease;
            }
            &:hover {
                transition: all 0.4s ease;
                transform: scale(1.1);
            }
            &:active {
                transform: scale(1.05);
            }
        }
    }
    &_boundary {
        position: absolute;
        top: 0;
        height: 1px;
        width: 100%;
    }
}

.separator {
    @include separator(15px, 3px);
}

.icons {
    @include adaptive-icon(28px);
}

.sideMenu {
    &_mobile {
        display: none;
    }
}

@media (max-width: 1368px) {
    .navigation {
        &_list {
            & li {
                @include adaptive-font(20px);
            }
        }
    }

    .icons {
        @include adaptive-icon(20px);
    }

    .title {
        &_description {
            @include adaptive-font(20px);
        }
        &_stack {
            @include adaptive-font(16px);
        }
        &_me {
            @include adaptive-font(32px);
        }
    }
    .img {
        &_container {
            height: 280px;
            width: 280px;
        }
    }
}

@media (max-width: 1151.98px) {
    .navigation {
        &_list {
            & li {
                @include adaptive-font(16px);
            }
        }
    }

    .icons {
        @include adaptive-icon(16px);
    }

    .title {
        &_description {
            @include adaptive-font(16px);
        }
        &_stack {
            @include adaptive-font(12px);
        }
        &_me {
            @include adaptive-font(28px);
        }
    }
    .img {
        &_container {
            height: 260px;
            width: 260px;
        }
    }
}

@media (max-width: 1023.98px) {
    .header {
        flex-direction: column;
        justify-content: center;
        gap: 48px;
    }
    .navigation {
        &_list {
            & li {
                @include adaptive-font(20px);
            }
        }
    }

    .icons {
        @include adaptive-icon(20px);
    }

    .title {
        &_description {
            @include adaptive-font(20px);
        }
        &_stack {
            @include adaptive-font(16px);
        }
        &_me {
            @include adaptive-font(32px);
        }
    }
    .img {
        &_container {
            height: 260px;
            width: 260px;
        }
    }
}

@media (max-width: 729.98px) {
    .header {
        gap: 32px;
    }

    .title {
        flex-direction: column;
        &_description {
            align-items: center;
        }
        gap: 20px;
    }
    .navigation {
        &_list {
            gap: 20px;
            & li {
                @include adaptive-font(20px);
            }
        }
    }

    .icons {
        @include adaptive-icon(20px);
    }

    .title {
        &_description {
            @include adaptive-font(20px);
        }
        &_stack {
            @include adaptive-font(16px);
        }
        &_me {
            @include adaptive-font(32px);
        }
    }
    .img {
        &_container {
            height: 260px;
            width: 260px;
        }
    }
}

@media (max-width: 699.98px) {
    .sideMenu {
        display: none;
        &_mobile {
            display: initial;
        }
    }
}

@media (max-width: 379.98px) {
    .navigation {
        &_list {
            & li {
                @include adaptive-font(16px);
            }
        }
    }

    .icons {
        @include adaptive-icon(16px);
    }

    .title {
        &_description {
            @include adaptive-font(16px);
        }
        &_stack {
            @include adaptive-font(12px);
        }
        &_me {
            @include adaptive-font(24px);
        }
    }
    .img {
        &_container {
            height: 240px;
            width: 240px;
        }
    }
}

@media (max-height: 736.98px) and (max-width: 729.98px) {
    .header {
        gap: 32px;
    }

    .navigation {
        &_list {
            gap: 20px;
        }
    }
    .title {
        gap: 16px;
        &_description {
            gap: 20px;
        }
    }
    .img {
        &_container {
            height: 240px;
            width: 240px;
        }
    }
}

@media (max-height: 599.98px) {
    .title {
        gap: 8px;
        &_description {
            @include adaptive-font(16px);
            gap: 12px;
        }
        &_stack {
            @include adaptive-font(12px);
        }
        &_me {
            @include adaptive-font(24px);
        }
    }
    .img {
        &_container {
            height: 180px;
            width: 180px;
        }
    }
}

.transitionLeft {
    $transitionL:
        opacity 0.5s 0.15s ease,
        transform 0.5s 0.15s ease,
        filter 0.5s 0.15s ease;
    &_enter {
        opacity: 0;
        transform: translateX(-10vw);
        filter: blur(20px);
    }
    &_enterActive {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0px);
        transition: $transitionL;
    }
    &_enterDone {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0);
    }
    &_exit {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0);
    }
    &_exitActive {
        opacity: 0;
        filter: blur(20px);
        transform: translateX(-10vw);
        transition: $transitionL;
    }
    &_exitDone {
        opacity: 0;
        filter: blur(20px);
        transform: translateX(-10vw);
    }
}

.transitionRight {
    $transitionR:
        opacity 0.5s 0.3s ease,
        transform 0.5s 0.3s ease,
        filter 0.5s 0.3s ease;
    &_enter {
        opacity: 0;
        filter: blur(20px);
        transform: translateX(10vw);
    }
    &_enterActive {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0);
        transition: $transitionR;
    }
    &_enterDone {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0);
    }
    &_exit {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0);
    }
    &_exitActive {
        opacity: 0;
        filter: blur(20px);
        transform: translateY(-10vh);
        transition: $transitionR;
    }
    &_exitDone {
        opacity: 0;
        filter: blur(20px);
        transform: translateY(-10vh);
    }
}

.transitionBar {
    $transition: all 0.2s ease;
    &_enter {
        opacity: 0;
        filter: blur(20px);
        transform: translateX(10vw);
    }
    &_enterActive {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0);
        transition: $transition;
    }
    &_enterDone {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0);
    }
    &_exit {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0);
    }
    &_exitActive {
        opacity: 0;
        filter: blur(20px);
        transform: translateX(10vw);
        transition: $transition;
    }
    &_exitDone {
        opacity: 0;
        filter: blur(20px);
        transform: translateX(10vw);
    }
}
