.container {
    position: fixed;
    top: 50vh;
    right: calc($frame-margin-hor / 2);
    translate: 50% -50% 0;
}
.navbar {
    transition: all 0.2s ease;
    &:hover {
        transition: all 0.4s ease;
        transform: scale(1.2);
    }
    &:active {
        transform: scale(1.1);
    }
    &_btn {
        cursor: pointer;
        & svg {
            fill: $lightest;
        }
    }
    & .icons {
        width: 36px;
        height: 36px;
    }
}

.transitionBar {
    $transition: all 0.2s;
    &_enter {
        opacity: 0;
        filter: blur(20px);
        transform: translateX(10vw);
    }
    &_enterActive {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0);
        transition: $transition;
    }
    &_enterDone {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0);
    }
    &_exit {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0);
    }
    &_exitActive {
        opacity: 0;
        filter: blur(20px);
        transform: translateX(10vw);
        transition: $transition;
    }
    &_exitDone {
        opacity: 0;
        filter: blur(20px);
        transform: translateX(10vw);
    }
}
