.container {
    position: fixed;
    top: 50vh;
    right: calc($frame-margin-hor / 2);
    translate: 50% -50% 0;
}
.navbar {
    transition:
        translate 0.2s ease,
        opacity 0.2s ease,
        filter 0.2s ease;

    &_btn {
        cursor: pointer;
        &:hover {
            transition: all 0.4s ease;
            transform: scale(1.2);
        }
        &:active {
            transform: scale(1.1);
        }
        & svg {
            fill: $lightest;
        }
    }
    & .icons {
        width: 36px;
        height: 36px;
        display: block;
    }
}

.transitionBar {
    $transition:
        translate 0.2s ease,
        opacity 0.2s ease,
        filter 0.2s ease;
    &_enter {
        opacity: 0;
        filter: blur(20px);
        translate: 10vw 0 0;
        transition: $transition;
    }
    &_enterActive {
        opacity: 1;
        filter: blur(0px);
        translate: 0 0 0;
        transition: $transition;
    }
    &_enterDone {
        opacity: 1;
        filter: blur(0px);
        translate: 0 0 0;
        transition: $transition;
    }
    &_exit {
        opacity: 1;
        filter: blur(0px);
        translate: 0 0 0;
        transition: $transition;
    }
    &_exitActive {
        opacity: 0;
        filter: blur(20px);
        translate: 10vw 0 0;
        transition: $transition;
    }
    &_exitDone {
        opacity: 0;
        filter: blur(20px);
        translate: 10vw 0 0;
        transition: $transition;
    }
}
