.wrapper {
    aspect-ratio: 16/9;
    height: 225px;
    @include center-content;
    &:hover {
        & .title,
        & .descr {
            transition: transform 0.4s ease, opacity 0.4s ease, filter 0.4s ease;
            transform: translateY(0);
            opacity: 1;
            filter: blur(0);
        }
    }
}

.link {
    height: 100%;
    width: 100%;
    @include center-content;
    position: relative;
}

.img {
    z-index: 100;
    width: 100%;
    height: 100%;
    &_container {
        position: relative;
        aspect-ratio: 16 / 9;
        height: 100%;
    }
    &_image {
        z-index: 100;
        object-fit: cover;
    }
}

.title {
    z-index: 50;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    bottom: 100%;
    margin-bottom: 20px;
    padding: 0 8px;
    transform: translateY(400%);
    transition: transform 0.2s ease, opacity 0.2s ease, filter 0.2s ease;
    opacity: 0;
    filter: blur(10px);
}

.descr {
    z-index: 50;
    font-size: 16px;
    position: absolute;
    top: 100%;
    text-align: justify;
    text-indent: 16px;
    margin-top: 20px;
    padding: 0 8px;
    transform: translateY(-200%);
    transition: transform 0.2s ease, opacity 0.2s ease, filter 0.2s ease;
    opacity: 0;
    filter: blur(10px);
}
