.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.items {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    // scroll-behavior: smooth;
    // scrollbar-width: none;
    // -ms-overflow-style: none;
    // &::-webkit-scrollbar {
    //     width: 0;
    //     height: 0;
    // }
}

.element {
    flex-grow: 1;
    flex-shrink: 0;
    transition: translate ease-in-out;
}

.btn {
    @include adaptive-icon(36px);
    fill: $lightest;
    flex: 0 0 auto;
    & svg {
        display: block;
    }
    transition: scale 0.2s ease;
    &:hover {
        transition: scale 0.4s ease;
        scale: 1.2;
    }
    &:active {
        transition: scale 0.2s ease;
        scale: 1.1;
    }
    &:disabled {
        &:hover,
        &:active {
            scale: 1;
        }
        opacity: 0.5;
        cursor: default;
    }
}

@media (max-width: 1134.98px) {
    .btn {
        @include adaptive-icon(32px);
    }
}

@media (max-width: 954.98px) {
    .btn {
        @include adaptive-icon(28px);
    }
}
