.container {
    position: fixed;
    top: 50%;
    right: calc($frame-margin-hor / 2);
    transform: translate3d(50%, -50%, 0);
}

.navbar {
    height: 100%;
    width: 100%;
    &_list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        & li {
            cursor: pointer;
            transition: all 0.2s ease;
            & svg {
                fill: $lightest;
            }
            &:hover {
                transition: all 0.4s ease;
                transform: scale(1.2);
            }
            &:active {
                transform: scale(1.1);
            }
        }
    }
}

.icons {
    @include adaptive-icon(36px);
    display: block;
}

.separator {
    @include separator(15px, 3px);
}

@media (max-width: 1023.98px) {
    .icons {
        @include adaptive-icon(24px);
    }
}

.transitionBar {
    $transition: all 0.2s ease;
    &_enter {
        opacity: 0;
        filter: blur(20px);
        transform: translateX(10vw);
    }
    &_enterActive {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0);
        transition: $transition;
    }
    &_enterDone {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0);
    }
    &_exit {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0);
    }
    &_exitActive {
        opacity: 0;
        filter: blur(20px);
        transform: translateX(10vw);
        transition: $transition;
    }
    &_exitDone {
        opacity: 0;
        filter: blur(20px);
        transform: translateX(10vw);
    }
}
