.info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto;
    gap: 24px;
}

$transition:
    translate 0.8s ease,
    filter 0.8s ease,
    opacity 0.8s ease;

.img {
    &_container {
        position: relative;
        aspect-ratio: 16 / 9;
        height: 225px;
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
        opacity: 0;
        filter: blur(20px);
        translate: -100% 0 0;
        transition-delay: 0.3s;
    }
    &_image {
        z-index: 100;
        object-fit: cover;
    }
}

.title {
    @include play-normal;
    @include adaptive-font(20px);
    text-align: center;
    opacity: 0;
    filter: blur(20px);
    translate: 0 -200% 0;
}

.descr {
    @include rubik-normal;
    @include adaptive-font(12px);
    text-align: justify;
    min-height: 225px;
    opacity: 0;
    filter: blur(20px);
    translate: 50% 0 0;
    transition-delay: 0.6s;
    text-indent: 24px;
    margin-bottom: 12px;
}

.otherinfo {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    opacity: 0;
    filter: blur(20px);
    translate: 50% 0 0;
    transition-delay: 0.3s;
    &_title {
        @include rubik-bold;
        @include adaptive-font(12px);
        color: $darkest;
        padding-left: 12px;
    }
    &_item {
        flex: 0 1 calc(50% - 12px);
        &:nth-of-type(2) {
            .otherinfo_title {
                color: $dark;
            }
        }
        &:nth-of-type(3) {
            .otherinfo_title {
                color: $dark;
            }
        }
    }
    &_list {
        padding-right: 8px;
        @include adaptive-font(10px);
        @include rubik-normal;
        display: flex;
        flex-wrap: wrap;
        & li {
            flex: 0 1 calc(33% - max(20px, 10%));
            list-style: circle;
            margin-left: max(20px, 10%);
        }
    }
}

.links {
    @include center-content;
    gap: 24px;
    & a {
        transition: scale 0.2s ease;
        &:hover {
            scale: 1.2;
            transition: scale 0.4s ease;
        }
        &:active {
            scale: 1.1;
        }
    }
    opacity: 0;
    filter: blur(20px);
    translate: 0 75% 0;
    transition-delay: 0.8s;
}

.icon {
    @include adaptive-icon(40px);
    &:first-of-type {
        stroke: $lightest;
    }
    &_2 {
        fill: $lightest;
    }
}

@media (max-width: 1368.98px) {
    .descr {
        @include adaptive-font(10px);
    }
}

@media (max-width: 1024.98px) {
    .descr {
        @include adaptive-font(9px);
    }
}

@media (max-width: 899.98px) {
    .info {
        &_main {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }
    .descr {
        margin-bottom: 0;
        min-height: 0;
    }
    .img {
        &_container {
            position: relative;
            aspect-ratio: 16 / 9;
            width: 100%;
            height: auto;
            margin-right: 0;
            margin-bottom: 0;
        }
    }
}

@media (max-width: 768.98px) {
    .otherinfo {
        &_item {
            &:first-of-type {
                .otherinfo_title {
                    @include adaptive-font(10px);
                }
            }
        }
        &_list {
            & li {
                flex: 0 1 calc(50% - max(20px, 10%));
                @include adaptive-font(9px);
            }
        }
    }
}

@media (max-width: 615.98px) {
    .otherinfo {
        &_title {
            @include adaptive-font(10px);
        }
        &_item {
            &:first-of-type {
                .otherinfo_title {
                    @include adaptive-font(8px);
                }
            }
        }
        &_list {
            & li {
                flex: 0 1 calc(50% - max(20px, 10%));
                @include adaptive-font(9px);
            }
        }
    }
}

@media (max-width: 523.98px) {
    .otherinfo {
        &_title {
            @include adaptive-font(12px);
        }
        &_item {
            flex: 1 0 100%;
            &:first-of-type {
                .otherinfo_title {
                    @include adaptive-font(12px);
                }
            }
        }
        &_list {
            & li {
                flex: 0 1 calc(50% - max(20px, 10%));
                @include adaptive-font(9px);
            }
        }
    }
}

.transitionLeft {
    &_enter {
        opacity: 0;
        translate: -100% 0 0;
        filter: blur(20px);
    }
    &_enterActive {
        opacity: 1;
        translate: 0;
        filter: blur(0px);
        transition: $transition;
        transition-delay: 0.1s;
    }
    &_enterDone {
        opacity: 1;
        filter: blur(0px);
        translate: 0;
    }
    &_exit {
        opacity: 1;
        filter: blur(0px);
        translate: 0;
    }
    &_exitActive {
        opacity: 0;
        filter: blur(20px);
        translate: -100% 0 0;
        transition: $transition;
        transition-delay: 0.1s;
    }
    &_exitDone {
        opacity: 0;
        filter: blur(20px);
        translate: -100% 0 0;
    }
}

.transitionRight {
    &_enter {
        opacity: 0;
        filter: blur(20px);
        translate: 50% 0 0;
    }
    &_enterActive {
        opacity: 1;
        filter: blur(0px);
        translate: 0 0 0;
        transition: $transition;
        transition-delay: 0.3s;
    }
    &_enterDone {
        opacity: 1;
        filter: blur(0px);
        translate: 0 0 0;
    }
    &_exit {
        opacity: 1;
        filter: blur(0px);
        translate: 0 0 0;
    }
    &_exitActive {
        opacity: 0;
        filter: blur(20px);
        translate: 50% 0 0;
        transition: $transition;
        transition-delay: 0.3s;
    }
    &_exitDone {
        opacity: 0;
        filter: blur(20px);
        translate: 50% 0 0;
    }
}

.transitionTop {
    &_enter {
        opacity: 0;
        filter: blur(20px);
        translate: 0 -200% 0;
    }
    &_enterActive {
        opacity: 1;
        filter: blur(0px);
        translate: 0 0 0;
        transition: $transition;
    }
    &_enterDone {
        opacity: 1;
        filter: blur(0px);
        translate: 0 0 0;
    }
    &_exit {
        opacity: 1;
        filter: blur(0px);
        translate: 0 0 0;
    }
    &_exitActive {
        opacity: 0;
        filter: blur(20px);
        translate: 0 -200% 0;
        transition: $transition;
    }
    &_exitDone {
        opacity: 0;
        filter: blur(20px);
        translate: 0 -200% 0;
    }
}

.transitionBottom {
    &_enter {
        opacity: 0;
        filter: blur(20px);
        translate: 0 200% 0;
    }
    &_enterActive {
        opacity: 1;
        filter: blur(0px);
        translate: 0 0 0;
        transition: $transition;
        transition-delay: 0.5s;
    }
    &_enterDone {
        opacity: 1;
        filter: blur(0px);
        translate: 0 0 0;
    }
    &_exit {
        opacity: 1;
        filter: blur(0px);
        translate: 0 0 0;
    }
    &_exitActive {
        opacity: 0;
        filter: blur(20px);
        translate: 0 200% 0;
        transition: $transition;
        transition-delay: 0.5s;
    }
    &_exitDone {
        opacity: 0;
        filter: blur(20px);
        translate: 0 200% 0;
    }
}
